<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/header.ejs") %>
  </head>

  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="details content">
      <h2><%= blog.title %></h2>
      <div class="content">
        <p><%= blog.body %></p>
      </div>

      <img
        class="delete"
        data-doc="<%= blog._id %>"
        src="/images/trash.svg"
        alt="Guess Has Deleted Itself?"
        style=""
      />
    </div>

    <%- include("./partials/footer.ejs") %>

    <script>
      const trashcan = document.querySelector("img.delete");
      trashcan.addEventListener("click", (e) => {
        const endpoint = `/blogs/${trashcan.dataset.doc}`;
        fetch(endpoint, {
          method: "DELETE",
        })
          .then((response) => response.json())
          .then((data) => (window.location.href = data.redirect))
          .catch((err) => console.log(err));
      });
    </script>
  </body>
</html>
