<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/header.ejs') %>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="content blogs">
      <h2>All Blogs</h2>
      <% if (blogs && blogs.length>0) {blogs.forEach(blog=>{ %>
      <div class="blog">
        <h3><a href="/blog/<%= blog._id %>"><%= blog.title %> </a></h3>
        <p><%= blog.snippet %></p>
      </div>
      <% })} else { %>
      <div class="blog">
        <p>There are no blogs 😢</p>
      </div>
      <% } %>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
